---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { ChevronLeftIcon } from "lucide-react";
import { Button } from "@/components/ui/button";
import NewsInfo from "@/components/blocks/News/NewsInfo";

interface Props extends ComponentProps<typeof BaseLayout> {
  // Add props here
  article: CollectionEntry<"news">;
  minutesRead: number;
}

const { article, minutesRead, ...rest } = Astro.props;
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <a href="/news">
      <Button
        variant={"outline"}
        size={"sm"}
        className="flex items-center justify-center gap-2"
      >
        <ChevronLeftIcon className="size-4" />
        Back to News
      </Button>
    </a>
    <article
      class="prose prose-stone max-w-none dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header>
        <img
          src={article.data.coverImage}
          alt={article.id}
          class="mt-3 size-full max-h-96 rounded-lg border bg-muted bg-cover object-cover"
        />
        <h1>{article.data.title}</h1>
        <NewsInfo article={article} minutesRead={minutesRead} client:load />
        <p>{article.data.summary}</p>
      </header>

      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
