---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import { ChevronLeftIcon } from "lucide-react";
import NewsInfo from "@/components/blocks/News/NewsInfo";
import GoBackButton from "@/components/utility/GoBackButton";
import { Image } from "astro:assets";
import ArticlePlaceholderImage from "@/content/news/_images/_placeholder.png";
import { extractLangFromUri, useTranslations } from "@/lib/i18n.utils";
import { getEntry, type CollectionEntry } from "astro:content";

interface Props extends ComponentProps<typeof BaseLayout> {
  // Add props here
  article: CollectionEntry<"news">;
  minutesRead: number;
}

const { article, minutesRead, ...rest } = Astro.props;

const newsItem = {
  article,
  author: await getEntry("authors", article.data.author.slug),
};

const [lang] = extractLangFromUri(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <GoBackButton
      variant={"outline"}
      size={"sm"}
      className="flex items-center justify-center gap-2 place-self-start"
      client:visible
    >
      <ChevronLeftIcon className="size-4" />
      {t("page.news-article.button.go-back")}
    </GoBackButton>
    <article
      class="prose prose-stone max-w-none dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header>
        <Image
          src={article.data.cover ?? ArticlePlaceholderImage}
          alt={article.slug}
          width={article.data.cover?.width}
          height={article.data.cover?.height}
          class="mt-3 size-full max-h-96 rounded-lg border bg-muted bg-cover object-cover"
        />
        <h1>{article.data.title}</h1>
        <NewsInfo newsItem={newsItem} minutesRead={minutesRead} client:load />
        <p>{article.data.summary}</p>
      </header>

      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
